
#block1 {
    line-height: 0.7em;
    width: 200px;
    float: left;
    height: 250px;
    background: #e3e3e1;
    position: relative;
    padding: 75px 0px 0px 0px;
}
#block2 {
    line-height: 0.7em;
    width: 200px;
    float: left;
    height: 250px;
    background: #e3e3e1;
    position: relative;
    padding: 75px 0px 0px 0px;
}
#block3 {
    width: 383px;
    height: 57px;
    position: absolute;
    top: 15px;
    left: 16px;
    background: #aaa;
}
.top {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin-left: 10PX;
}
#lok {
    font-weight: normal;
    font-family: Geneva, Lucida Sans Unicode, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 14px;
    margin-left: 10PX;
}
hr {
    width: 90%;
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}
a {
    font-size: 14pt;
    text-decoration: none;
    margin: 10px;
    color: #6e1ea8;
}
.span1 {
    font-weight: bolder;
    background: #ccc;
    color: #fff;
    border-radius: 50%;
    padding: .3em .65em;
}
